{{define "headHTML"}}
<h3>Welecome {{.UserID}}</h3>
<ol>
    <li><a href="http://localhost:4000/addImage">AddImage</a></li>
    <li><a href="http://localhost:4000/addPfad">AddPfad</a></li>
    <li><a href="http://localhost:4000/removePfad">RemovePfad</a></li>
    <li><a href="http://localhost:4000/addUser">AddUser</a></li>
    <li><a href="http://localhost:4000/genehmigen">Genehmigen</a></li>
    <li><a href="http://localhost:4000/login">Login</a></li>
    <li><a href="http://localhost:4000/notification">Notifications</a></li>
    <li><a href="http://localhost:4000/ticket/-">Ticket</a></li>
</ol>
{{end}}