<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    {{ template "headHTML" . }}
    <h1>Add user</h1>
    <form action="POST" id="form">
        <label for="email">Enter email adress</label><br>
        <input type="text" id="email"><br>
        <label for="password">Enter password</label><br>
        <input type="text" id="password"><br>
        <label for="genehmiger">Enter genehmiger ID</label><br>
        <input type="text" id="genehmiger"><br>
        <input type="submit">
    </form>
</body>
<script src="/statics/{{.AddUser}}.js"></script>
</html>